# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: win
  pool:
    vmImage: windows-2022
  strategy:
    matrix:
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.10.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.10.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_he4f0b4ee19
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.10.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.10.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_hc63995ae6e
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.8.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.8.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h0f51e9b038
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.8.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.8.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h77853eb75f
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.9.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.9.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h7440f6c8d3
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.9.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.22python3.9.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h8ce1ffd1e0
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.23python3.11.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.23python3.11.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h2107360905
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.23python3.11.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy1.23python3.11.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilerNonecuda_compil_h3df510f78e
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.10.____cpythonsuffix:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.10.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_h1b61ac5aeb
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.10.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.10.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_he7a79248f2
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.8.____cpythonsuffix:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.8.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_hf68520c5c7
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.8.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.8.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_hf5a7163468
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.9.____cpythonsuffix:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.9.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_hd168546eed
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.9.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.22python3.9.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_hc3f4b2aae0
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.23python3.11.____cpythonsuffix:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.23python3.11.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_h2d9c0a77df
      win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.23python3.11.____cpythonsuffix-novec:
        CONFIG: win_64_cuda_compilernvcccuda_compiler_version11.2numpy1.23python3.11.____cpythonsuffix-novec
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: win_64_cuda_compilernvcccuda_compil_h2af05c116b
    maxParallel: 10
  timeoutInMinutes: 360
  variables:
    CONDA_BLD_PATH: D:\\bld\\
    UPLOAD_TEMP: D:\\tmp

  steps:
    - task: PythonScript@0
      displayName: 'Download Miniforge'
      inputs:
        scriptSource: inline
        script: |
          import urllib.request
          url = 'https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-Windows-x86_64.exe'
          path = r"$(Build.ArtifactStagingDirectory)/Miniforge.exe"
          urllib.request.urlretrieve(url, path)

    - script: |
        start /wait "" %BUILD_ARTIFACTSTAGINGDIRECTORY%\Miniforge.exe /InstallationType=JustMe /RegisterPython=0 /S /D=C:\Miniforge
      displayName: Install Miniforge

    - powershell: Write-Host "##vso[task.prependpath]C:\Miniforge\Scripts"
      displayName: Add conda to PATH

    - script: |
        call activate base
        mamba.exe install "python=3.10" conda-build conda pip boa conda-forge-ci-setup=3 -c conda-forge --strict-channel-priority --yes
      displayName: Install conda-build

    - script: set PYTHONUNBUFFERED=1
      displayName: Set PYTHONUNBUFFERED

    # Configure the VM
    - script: |
        call activate base
        setup_conda_rc .\ ".\recipe" .\.ci_support\%CONFIG%.yaml
      displayName: conda-forge CI setup

    # Configure the VM.
    - script: |
        set "CI=azure"
        call activate base
        run_conda_forge_build_setup
      displayName: conda-forge build setup

    - script: |
        call activate base
        if EXIST LICENSE.txt (
          copy LICENSE.txt "recipe\\recipe-scripts-license.txt"
        )
        if NOT [%HOST_PLATFORM%] == [%BUILD_PLATFORM%] (
          set "EXTRA_CB_OPTIONS=%EXTRA_CB_OPTIONS% --no-test"
        )
        conda.exe mambabuild "recipe" -m .ci_support\%CONFIG%.yaml --suppress-variables %EXTRA_CB_OPTIONS%
      displayName: Build recipe
      env:
        PYTHONUNBUFFERED: 1
    - script: |
        set CI=azure
        set CI_RUN_ID=$(build.BuildNumber).$(system.JobAttempt)
        set FEEDSTOCK_NAME=$(build.Repository.Name)
        set ARTIFACT_STAGING_DIR=$(Build.ArtifactStagingDirectory)
        set CONDA_BLD_DIR=$(CONDA_BLD_PATH)
        set BLD_ARTIFACT_PREFIX=conda_artifacts
        if "%AGENT_JOBSTATUS%" == "Failed" (
            set ENV_ARTIFACT_PREFIX=conda_envs
        )
        call ".scripts\create_conda_build_artifacts.bat"
      displayName: Prepare conda build artifacts
      condition: succeededOrFailed()

    - task: PublishPipelineArtifact@1
      displayName: Store conda build artifacts
      condition: not(eq(variables.BLD_ARTIFACT_PATH, ''))
      inputs:
        targetPath: $(BLD_ARTIFACT_PATH)
        artifactName: $(BLD_ARTIFACT_NAME)

    - task: PublishPipelineArtifact@1
      displayName: Store conda build environment artifacts
      condition: not(eq(variables.ENV_ARTIFACT_PATH, ''))
      inputs:
        targetPath: $(ENV_ARTIFACT_PATH)
        artifactName: $(ENV_ARTIFACT_NAME)
    - script: |
        set "FEEDSTOCK_NAME=%BUILD_REPOSITORY_NAME:*/=%"
        call activate base
        validate_recipe_outputs "%FEEDSTOCK_NAME%"
      displayName: Validate Recipe Outputs

    - script: |
        set "GIT_BRANCH=%BUILD_SOURCEBRANCHNAME%"
        set "FEEDSTOCK_NAME=%BUILD_REPOSITORY_NAME:*/=%"
        set "TEMP=$(UPLOAD_TEMP)"
        if not exist "%TEMP%\" md "%TEMP%"
        set "TMP=%TEMP%"
        call activate base
        upload_package --validate --feedstock-name="%FEEDSTOCK_NAME%" .\ ".\recipe" .ci_support\%CONFIG%.yaml
      displayName: Upload package
      env:
        BINSTAR_TOKEN: $(BINSTAR_TOKEN)
        FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
        STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)
      condition: and(succeeded(), not(eq(variables['UPLOAD_PACKAGES'], 'False')), not(eq(variables['Build.Reason'], 'PullRequest')))