# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: win
  pool:
    vmImage: windows-2022
  strategy:
    matrix:
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.10.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.10.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.11.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.11.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.12.____cpythonsuffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2.0python3.12.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2python3.13.____cp313suffix:
        CONFIG: win_64_cuda_compilerNonecuda_compiler_versionNonenumpy2python3.13.____cp313suffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.10.____cpythonsuffix:
        CONFIG: win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.10.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.11.____cpythonsuffix:
        CONFIG: win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.11.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.12.____cpythonsuffix:
        CONFIG: win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2.0python3.12.____cpythonsuffix
        UPLOAD_PACKAGES: 'True'
      win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2python3.13.____cp313suffix:
        CONFIG: win_64_cuda_compilercuda-nvcccuda_compiler_version12.6numpy2python3.13.____cp313suffix
        UPLOAD_PACKAGES: 'True'
  timeoutInMinutes: 360
  variables:
    CONDA_BLD_PATH: C:\bld\
    MINIFORGE_HOME: C:\Miniforge
    SET_PAGEFILE: 'True'
    UPLOAD_TEMP: D:\\tmp

  steps:

    - script: |
        call ".scripts\run_win_build.bat"
      displayName: Run Windows build
      env:
        MINIFORGE_HOME: $(MINIFORGE_HOME)
        CONDA_BLD_PATH: $(CONDA_BLD_PATH)
        PYTHONUNBUFFERED: 1
        CONFIG: $(CONFIG)
        CI: azure
        flow_run_id: azure_$(Build.BuildNumber).$(System.JobAttempt)
        remote_url: $(Build.Repository.Uri)
        sha: $(Build.SourceVersion)
        UPLOAD_PACKAGES: $(UPLOAD_PACKAGES)
        UPLOAD_TEMP: $(UPLOAD_TEMP)
        BINSTAR_TOKEN: $(BINSTAR_TOKEN)
        FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
        STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)